@-ms-viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
    user-zoom: fixed;
}

@viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
    user-zoom: fixed;
}

/* Recommended for Windows 8 Phone */
html {
    -ms-touch-action: pan-x;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: pan-y;
    -ms-content-zooming: none;
    background: url(../assets/background.png);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.app-header {
    text-align: center;
    text-transform: uppercase;
    background-color: floralwhite !important;
    color: forestgreen !important;
    border: 0;
}

.app-title {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px 10px 10px;
}

.app-list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.app-list .list-option {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px transparent solid;
}

.app-list .list-option:active,
.app-list .list-option:hover {
    border: 1px forestgreen solid;
}

.app-list .list-option > img {
    height: 175px;
}

.app-fun {
    width: 100%;
    min-height: 450px;
    position: relative;
}

.app-fun > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn-app-notification {
    text-transform: uppercase;
}


.btn-app-fun {
    margin-top: 50px;
    text-transform: uppercase;
}

@media (min-width: 480px), (min-width: 600px) {

    .app-list .list-option {
        flex-basis: 40%;
    }
}

@media (min-width: 800px) {

    .app-list .list-option {
        flex-basis: 33.333%;
    }

    .app-list .list-option > img {
        height: 200px;
    }
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

.absolute-center {
    /* Must manually set width/height */
    width:250px;
    height:250px;

    /* The magic centering code */
    margin:auto;
    position:absolute;
    top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
    left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

    /* Prevent div from overflowing main window */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    
    text-align: center;
    vertical-align: middle;
}
.go-to-home {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.settings {
    position: absolute;
    margin: auto;
    right: 20px;
    bottom: 20px;
}

